<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="icon" href="/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vite App</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body>
    <h1>not control</h1>

    <div id="app">
      <h1 v-if="show">{{ title }}</h1>
      <button @click="showTitle">
        <span v-if="show">Hide Title</span>
        <span v-else>Show Title</span>
      </button>
    </div>
    <script type="module" src="app.js"></script>
  </body>
</html>
